<header class="header js-header">
  <h1 class="header__title js-title">
    <strong class="stein">Stein</strong><strong class="flix">Flix</strong>
  </h1>
  <form action="GET" class="form js-form">
    <button class="form__button js-form-button">
      <i class="form__button--icon js-icon fas fa-align-justify"></i>
    </button>
    <select
      name="language"
      id="language-selector"
      class="form__selector js-selector"
    >
      <option value="es" class="form__option js-option">Español</option>
      <option value="en" class="form__option js-option">English</option>
    </select>
    <input
      placeholder="Search"
      type="Search"
      name="Search"
      id="Search"
      class="form__search js-search-input"
    />
    <nav class="form__menu js-menu">
      <ul class="form__menu--list js-menu-list" style="visibility: hidden">
        <a href=""
          ><li class="form__menu--list--item js-menu-item">TV Shows</li></a
        >
        <a href=""
          ><li class="form__menu--list--item js-menu-item">Films</li></a
        >
        <a href=""
          ><li class="form__menu--list--item js-menu-item">Documentaries</li></a
        >
        <a href=""
          ><li class="form__menu--list--item js-menu-item">Dramas</li></a
        >
        <a href=""><li class="form__menu--list--item js-menu-item">All</li></a>
      </ul>
    </nav>
  </form>
</header>
<div class="hero js-hero">
  <video src=""></video>
</div>
