<main>
  <form action="" class="form js-form">
    <input
      placeholder="Search"
      type="text"
      name="Search"
      id="Search"
      class="form__search js-search-input"
    />
    <button class="form__button js-button">Buscar</button>
  </form>
  <section class="main__section js-section">
    <h2 class="list-title">Lista de series</h2>
    <div class="container-shows js-container-shows">
      
      <ul class="main__section--shows js-shows">
        <li class="js-show show">
          <h5>Miss Americana</h5>
          <img class="show-image js-image" src="./assets/images/Miss_Americana-215519799-large.jpg" alt="" />
        </li>
    </div>
    <h2 class="favs-list">Favoritos</h2>
    <div class="container-favorites js-container-favorites">
        <ul class="main__section--favorites js-favorites">
          <li class="favorite js-favorite">
            <h2 class="favorite-name js-favorite-name"></h2>
            <img src="" alt="">
          </li>
        </ul>
    </div>
  </section>
</main>
