<main>
  <div class="main__item js-main-item">
    <img src="" alt="" />
    <h5 class="main__item--title js-title">Title 1</h5>
    <h6 class="main__item--year js-year">Año</h6>
  </div>
  <div class="main__item js-main-item">
    <img src="" alt="" />
    <h5 class="main__item--title js-title">Title 2</h5>
    <h6 class="main__item--year js-year">Año</h6>
  </div>
  <div class="main__item js-main-item">
    <img src="" alt="" />
    <h5 class="main__item--title js-title">Title 3</h5>
    <h6 class="main__item--year js-year">Año</h6>
  </div>
</main>
