* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main {
  width: 100%;
  height: 60%; }

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px; }
  .form__button {
    height: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white; }

.container-shows {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.main__section--shows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 90%;
  align-self: center;
  height: 100%;
  margin-right: 10px; }

.form__search {
  background-color: #ffffff;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 10px;
  color: #a02b68;
  text-transform: capitalize;
  border-radius: 10px; }
  .form__search::-moz-placeholder {
    color: #a02b68; }
  .form__search::placeholder {
    color: #a02b68; }

.show-image {
  height: 100%;
  width: 100%; }

.show {
  height: 90%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #ffffff; }

.container-favorites {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.list-title {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: capitalize; }

.favs-list {
  margin: 20px 20px 20px 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: capitalize; }

h5 {
  width: 130px;
  padding: 15px;
  font-size: 9px;
  line-height: 15px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center; }

.favorite-identifier {
  border: #a02b68 1px solid; }

.form__button {
  width: 220px;
  height: 25px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px; }

.form__button:before {
  content: "";
  background: linear-gradient(45deg, #140014, #2e002e, #470047, #6f0b5b, #a02b68, #b15082, #be6e97, #d29cb8, white);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px; }

.form__button:active {
  color: #000; }

.form__button:active:after {
  background: transparent; }

.form__button:hover:before {
  opacity: 1; }

.form__button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px; }

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

.header {
  width: 100%;
  height: 10vh;
  margin: 0;
  background: #140014;
  background: linear-gradient(0deg, #140014 35%, #470047 100%); }
  .header__title {
    font-family: "Bebas Neue", cursive;
    font-size: 60px;
    width: 300px;
    margin-left: 20px;
    color: white; }

.form__menu--list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px; }

.flix {
  color: #a02b68; }

* {
  text-decoration: none;
  list-style-type: none; }

a {
  color: inherit; }

body {
  background-color: #140014;
  height: 100vh;
  width: 100vw; }

/*# sourceMappingURL=main.css.map */
